# Ignore __pycache__ folders
__pycache__/

# Ignore .pyc files (compiled Python)
*.pyc

# Ignore Pygame assets
*.wav
*.ogg

# Ignore virtual environment
venv/
env/
myvenv/

# Ignore editor/project-specific files
.vscode/
.idea/
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db
